<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{ page.title }}</title>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
        <div class="navbar navbar-static-top navbar-inverse">
        <div class="navbar-inner">
            <a class="brand" href="#"> PDM Analytics </a>
            <ul class="nav">
                <li class="active"> <a href="./index.html">Home</a></li>
                <li> <a href="./contact.html">Contact</a></li>
            </ul>
        </div>
        </div>
        </div>
        <div class="container">
            {{ content }}
        </div>
        <div class="container">
        <hr>
        This is a test ... {{ site.time | date_to_string }}
        </div>
    </body>
</html>